.main_container {
  padding: 20px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seaarch-input {
  margin: 20px;
  padding: 10px;
  width: 255px;
  background-color: snow;
  border: 2px solid #000;
  border-radius: 10px;
}

.location-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.location-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.location-card:hover {
  background-color: black;
  color: beige;
  transform: scale(1.1);
}

.location-name {
  font-size: 18px;
  font-weight: bold;
}
.pagination {
  margin: 25px 0;
}
.pgvalue {
  margin: 0 10px;
}
.location-info {
  display: flex;
  font-family: fantasy;
  gap: 12px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(60, 60, 244);
}
